@import 'bootstrap';
/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&family=Tilt+Prism&display=swap%27');


/* palette di colori 
prussian blue #003049
white smoke #F5F3F5
tryan purple #4C1036 */

/* COLORI E RELATIVE VARIABILI CSS */
:root {
    --main: #AC9969;
    --second: #D9F4C7;
    --first: #f6f1f6;
    --gray: rgb(230, 230, 230);
}

.nav-item .text-white {
    font-size: 1rem !important;
}

.textmain {
    color: var(--main);
}

.maincolor {
    background-color: var(--main) !important;
}

.second-color {
    background-color: var(--second) !important;
}

.gray {
    background-color: var(--gray);
}
/* --------------------------------------- */


/* STILE PAGINA layout */
body {
    background-color: var(--first) !important;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    font-size: x-large;
}

.text-logo {
    font-family: 'Pacifico', cursive;
}

/* form di registrazione e login */
.card {
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    border-radius: 20px !important;
}

.card-header h1 {
    color: orange;
}

.remember {
    color: black;
}

/* sTYLE LOGO CATEGORY CARD */
.category-logo {
    font-weight: bold;
    color: white;
}




/* card annunci */
.card-custom {
    /* width: 60%; */

    transition: transform .2s;
}

.card-custom:hover {
    transform: scale(1.05);

}

.box2 {
    margin-top: 3%;
}