@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Tilt+Prism&display=swap');

/* palette di colori 
prussian blue #003049
white smoke #F5F3F5
tryan purple #4C1036 */

:root{
    --main:#003049;
    --purple:#4C1036;
    --first:#F5F3F5;
    --gray:rgb(230, 230, 230);
}

.nav-item .text-white{
    font-size: 1rem !important; 
}

.textwhite{
    color: var(--first);
}

.maincolor{
    background-color: var(--main)!important;
}

.purple{
    background-color: var(--purple)!important;
}

.firstcolor{
    background-color: var(--first)!important;
}

.gray{
    background-color: var(--gray);
}
.navbar {
    /* background-color: transparent !important; */
    font-size: x-large;
}

.text-logo{
    font-family: 'Tilt Prism', cursive;
    color: orange !important;
    /* font-size: 2rem !important; */
}

body {
    background-color: var(--first) !important;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
    align-content: center;

}

.card {
    /* ho commentato l'altezza altrimenti se sbaglio ad inserire i dati il display degli errori va fuori dalla card */
    /* height: 370px; */
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    border-radius: 20px !important;
}

.card-header h1 {
    color: orange;

}

.remember {
    color: black;
}

